{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "targets": {
          "chrome": "60",
          "firefox": "60",
          "safari": "10",
          "edge": "17"
        },
        "useBuiltIns": "usage",
        "corejs": {
          "version": 3
        }
      }
    ]
  ],
  "plugins": [
    [
      "import",
      {
        "libraryName": "vant",
        "libraryDirectory": "es",
        "style": true
      }
    ]
  ]
}
